@model Messim.UI.Models.Message

@{
    ViewBag.Title = "Message " + @Model.ID;
}

<h2>Wiadomość</h2>
<div class="span12"></div>
<p>@Model.Sender.Username napisał: @Model.Text</p>
<img src="@Model.Image.URL" width="@Model.Image.Width" height="@Model.Image.Height" alt="@Model.Date"/>