@using System.Collections
@using Messim.UI.Models
@{
    IEnumerable<Message> messages = Page.Messages;
} 

<style>
    .message-box {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px; /* future proofing */
        background-color: #333;
        text-align: center;
        
    }
</style>

@foreach (var message in messages)
{
    <div class="row">
        <div class="span2">
            
        <p style="font-size: 21pt"><a href="/User/List/@message.Sender.Username">@message.Sender.Username</a></p>
        <div class="triangle-right top" style="margin-top: 25px"> @message.Text</div>
           
        </div>
        <div class="span6 message-box">
            <a href="@Url.Action("Details","Message",new {id=@message.ID})">
                <img src="@message.Image.URL" width="@message.Image.Width" height="@message.Image.Height" alt="Wysłane @message.Date"/>
            </a>
            <div style="clear: both;"></div>
            
            <a class="btn votebtn disabled" href="#" data-messageId="@message.ID">---</a>
            
        </div>
        
    </div>
    <hr/>
}