@using Messim.UI.Models
@{
    ViewBag.Title = User.Identity.Name;

    var DisplayMessages = ViewData["DisplayMessages"] as IEnumerable<Message>;
}
<div class="span12">
    <div class="row">
        <div class="span4">
            <h2>
                Witaj - @User.Identity.Name</h2>
            <p>
                napisałeś @ViewData["PostNumber"] wiadomości
            </p>
            <div>
                @RenderPage("_SendMessage.cshtml")
            </div>
        </div>
        <div class="span8">
            <h2>
                Wiadomości
            </h2>
            <hr />
            @foreach (var a in DisplayMessages)
            {
                <div class="row">
                    <div class="span2">
                        <p>@a.Text</p>
                    </div>
                    <div class="span6">
                        <img src="@a.Image.URL" width="@a.Image.Width" height="@a.Image.Height" alt="Wysłane @a.Date"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
