@using Messim.UI.Models
@{
    ViewBag.Title = User.Identity.Name;

    var DisplayMessages = ViewData["DisplayMessages"] as IEnumerable<Message>;
}
@RenderPage("../Shared/_FacebookSDK.cshtml")


<div class="span12">
    <div class="row">
        <div class="span4">
            <h2>
                Witaj - @User.Identity.Name</h2>
            <p>
                napisałeś @ViewData["PostNumber"] wiadomości
            </p>
            <div>
                @RenderPage("_SendMessage.cshtml")
            </div>
        </div>
        <div class="span8">
            <h2>
                Wiadomości
            </h2>
            <hr />
          @RenderPage("../Shared/_DisplayMessages.cshtml",new {Messages = DisplayMessages});
        </div>
    </div>
</div>
